<a href="https://colab.research.google.com/github/lych0508/Projects/blob/main/Copy_of_GoHealthUrgentCare_Assessment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction

## Background

You are on the People Analytics Team and are asked to help us understand certification compliance. 

You have data from a few places: 

> Employee Data - contains employee demographics; 


> certificationd data - contains data on certifications; 


> certification classifications - contains data on how to group certifications and roles they are applicable to.

## Objective

1.   Understand which employees are out of compliance (i.e. have expired certifications)
2.   Sliced into each feature on segmentation analysis

## Importing Libraries

### Libraries

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from datetime import date

### Loading data

In [2]:
import io
import pandas as pd
from google.colab import files

In [3]:
uploaded = files.upload()

Saving People_Analytics.xlsx to People_Analytics.xlsx

In [4]:
xlsx_file = io.BytesIO(uploaded.get('People_Analytics.xlsx'))

In [5]:
df = pd.read_excel(xlsx_file, 'Sheet1')

In [6]:
df.head()

,Employee Number,Certification,Certification Date Issued,Effective End,Certification Status,Hire Date,Rehire Date,Employee Start Date,Pay Class,Job Name,Job Family Name,Market,Source of hire,Current Employee,Rehired,Employee Cert Status,Certification type,Medical Assistant Requirement,Rad Tech Requirement,Medical Scribe Requirement
0,100040,Basic Life Support,2022-08-16,2023-02-16 23:59:00,Active,NaT,NaN,NaT,NaN,NaN,NaN,NaN,NaN,No,NaN,Active,First Aid,Y,Y,Y
1,100040,Cert Prov Order Entry Pro,2022-08-12,2023-08-12 23:59:00,Active,NaT,NaN,NaT,NaN,NaN,NaN,NaN,NaN,No,NaN,Active,Medical Scribe,N,N,Y
2,100071,Natl Certified Med Asst,2022-03-17,2023-03-17 23:59:00,Active,NaT,NaN,NaT,NaN,NaN,NaN,NaN,NaN,No,NaN,Active,Medical Assistant,Y,N,N
3,100080,Basic Life Support,2021-12-29,2023-12-29 23:59:00,Active,NaT,NaN,NaT,NaN,NaN,NaN,NaN,NaN,No,NaN,Active,First Aid,Y,Y,Y
4,100080,Natl Certified Med Asst,2022-06-29,2023-07-14 23:59:00,Active,NaT,NaN,NaT,NaN,NaN,NaN,NaN,NaN,No,NaN,Active,Medical Assistant,Y,N,N

#Exploratory data analysis

First, I check if the dataset has any the missing values and data type for furture analysis

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2690 entries, 0 to 2689
Data columns (total 20 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Employee Number                2690 non-null   int64
 1   Certification                  2502 non-null   object
 2   Certification Date Issued      2502 non-null   datetime64[ns]
 3   Effective End                  2502 non-null   datetime64[ns]
 4   Certification Status           2690 non-null   object
 5   Hire Date                      1219 non-null   datetime64[ns]
 6   Rehire Date                    1219 non-null   object
 7   Employee Start Date            1219 non-null   datetime64[ns]
 8   Pay Class                      1219 non-null   object
 9   Job Name                       1219 non-null   object
 10  Job Family Name                1219 non-null   object
 11  Market                         1219 non-null   object
 12  Source of hire                 1219 non-null   object
 13  Current Employee               2690 non-null   object
 14  Rehired                        1219 non-null   object
 15  Employee Cert Status           2690 non-null   object
 16  Certification type             2502 non-null   object
 17  Medical Assistant Requirement  2502 non-null   object
 18  Rad Tech Requirement           2502 non-null   object
 19  Medical Scribe Requirement     2502 non-null   object
dtypes: datetime64[ns](4), int64(1), object(15)
memory usage: 420.4+ KB

In [8]:
#employee number should be string
#rehire date should be date 
df['Employee Number'] = df['Employee Number'].astype(str)
df['Rehire Date']= pd.to_datetime(df['Rehire Date'], errors='coerce')

After join these three dataset, I found there are missing values in hiring date. I believe these employess are not working at the company at more. So I will filter them out

In [9]:

df = df.loc[df['Hire Date'].notnull()]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1219 entries, 1471 to 2689
Data columns (total 20 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Employee Number                1219 non-null   object
 1   Certification                  1031 non-null   object
 2   Certification Date Issued      1031 non-null   datetime64[ns]
 3   Effective End                  1031 non-null   datetime64[ns]
 4   Certification Status           1219 non-null   object
 5   Hire Date                      1219 non-null   datetime64[ns]
 6   Rehire Date                    1218 non-null   datetime64[ns]
 7   Employee Start Date            1219 non-null   datetime64[ns]
 8   Pay Class                      1219 non-null   object
 9   Job Name                       1219 non-null   object
 10  Job Family Name                1219 non-null   object
 11  Market                         1219 non-null   object
 12  Source of hire                 1219 non-null   object
 13  Current Employee               1219 non-null   object
 14  Rehired                        1219 non-null   object
 15  Employee Cert Status           1219 non-null   object
 16  Certification type             1031 non-null   object
 17  Medical Assistant Requirement  1031 non-null   object
 18  Rad Tech Requirement           1031 non-null   object
 19  Medical Scribe Requirement     1031 non-null   object
dtypes: datetime64[ns](5), object(15)
memory usage: 200.0+ KB

I assume there are some employees who don't have certifications, therefore there are some missing values in certification column.

In [10]:
# filter employee with certification
df1 = df.loc[df['Certification'].notnull()]
df1.isnull().sum()

Employee Number                  0
Certification                    0
Certification Date Issued        0
Effective End                    0
Certification Status             0
Hire Date                        0
Rehire Date                      1
Employee Start Date              0
Pay Class                        0
Job Name                         0
Job Family Name                  0
Market                           0
Source of hire                   0
Current Employee                 0
Rehired                          0
Employee Cert Status             0
Certification type               0
Medical Assistant Requirement    0
Rad Tech Requirement             0
Medical Scribe Requirement       0
dtype: int64

In [11]:

df_nan = df1[df1['Rehire Date'].isnull()]
df_nan

,Employee Number,Certification,Certification Date Issued,Effective End,Certification Status,Hire Date,Rehire Date,Employee Start Date,Pay Class,Job Name,Job Family Name,Market,Source of hire,Current Employee,Rehired,Employee Cert Status,Certification type,Medical Assistant Requirement,Rad Tech Requirement,Medical Scribe Requirement
2454,227496,No BLS,2022-07-05,2023-01-05 23:59:00,Active,2022-07-05,NaT,2022-07-05,Temporary,Medical Assistant,Medical Assistant,Market C,Indeed,Yes,Rehired,Active,First Aid,Y,Y,Y

In [12]:
from pandas._libs import NaT
# I go back to chekc the dataset, the rehire date = hire date
df1['Rehire Date'] = df1['Rehire Date'].replace(NaT, '2022-07-05')
df1.isnull().sum()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

Employee Number                  0
Certification                    0
Certification Date Issued        0
Effective End                    0
Certification Status             0
Hire Date                        0
Rehire Date                      0
Employee Start Date              0
Pay Class                        0
Job Name                         0
Job Family Name                  0
Market                           0
Source of hire                   0
Current Employee                 0
Rehired                          0
Employee Cert Status             0
Certification type               0
Medical Assistant Requirement    0
Rad Tech Requirement             0
Medical Scribe Requirement       0
dtype: int64

In [13]:
#number of expired cert
expired_df = df1.loc[df1['Certification Status'] == 'Expired']
expired_df

,Employee Number,Certification,Certification Date Issued,Effective End,Certification Status,Hire Date,Rehire Date,Employee Start Date,Pay Class,Job Name,Job Family Name,Market,Source of hire,Current Employee,Rehired,Employee Cert Status,Certification type,Medical Assistant Requirement,Rad Tech Requirement,Medical Scribe Requirement
1474,105125,Basic Life Support,2020-10-22,2022-10-22 23:59:00,Expired,2017-01-09,2017-01-09,2017-01-09,FT,Radiologic Technologist (Flex),Rad Tech,Market B,Indeed,Yes,Non-Rehired,Expired,First Aid,Y,Y,Y
1480,106012,CA Rad Tech License,2020-01-20,2022-10-31 23:59:00,Expired,2017-01-04,2017-01-04,2017-01-04,FT,Radiologic Technologist,Rad Tech,Market A,Indeed,Yes,Non-Rehired,Expired,Rad Tech,N,Y,N
1519,106160,R.T.(R)(ARRT),2021-10-12,2022-10-30 23:59:00,Expired,2019-06-24,2019-06-24,2019-06-24,FT,Radiologic Technologist,Rad Tech,Market A,Indeed,Yes,Non-Rehired,Expired,Rad Tech,N,Y,N
1525,106171,R.T.(R)(ARRT),2021-11-10,2022-10-31 23:59:00,Expired,2019-09-16,2019-09-16,2019-09-16,FT,Radiologic Technologist (Flex),Rad Tech,Market A,Indeed,Yes,Non-Rehired,Expired,Rad Tech,N,Y,N
1542,109013,R.T.(R)(ARRT),2021-10-05,2022-09-30 23:59:00,Expired,2017-06-26,2017-06-26,2017-06-26,FT,Radiologic Technologist,Rad Tech,Market B,Job Fair,Yes,Non-Rehired,Expired,Rad Tech,N,Y,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2360,227092,No BLS,2022-05-14,2022-11-14 23:59:00,Expired,2022-05-14,2022-05-14,2022-05-14,FT,Medical Assistant,Medical Assistant,Market A,Indeed,Yes,Non-Rehired,Expired,First Aid,Y,Y,Y
2361,227099,No BLS,2022-05-09,2022-11-09 23:59:00,Expired,2022-05-09,2022-05-09,2022-05-09,Per Diem,Medical Assistant,Medical Assistant,Market D,Job Fair,Yes,Non-Rehired,Expired,First Aid,Y,Y,Y
2362,227099,Non-Certifed MA,2022-05-09,2022-11-09 23:59:00,Expired,2022-05-09,2022-05-09,2022-05-09,Per Diem,Medical Assistant,Medical Assistant,Market D,Job Fair,Yes,Non-Rehired,Expired,Medical Assistant,Y,N,N
2363,227109,No BLS,2022-05-09,2022-11-09 23:59:00,Expired,2022-05-16,2022-05-16,2022-05-16,FT,Medical Assistant,Medical Assistant,Market E,Indeed,Yes,Non-Rehired,Expired,First Aid,Y,Y,Y
2573,227782,Natl Certified Med Asst,2003-10-22,2022-09-15 23:59:00,Expired,2022-08-02,2022-08-02,2022-08-02,FT,Medical Assistant (Float),Medical Assistant,Market C,ClinicalCareers.com,Yes,Non-Rehired,Expired,Medical Assistant,Y,N,N

In [14]:
expired_df['Employee Number'].unique()

array(['105125', '106012', '106160', '106171', '109013', '109014',
       '109024', '109034', '109075', '109098', '109127', '109138',
       '109149', '111018', '111103', '111124', '111130', '200336',
       '200510', '200849', '201522', '201569', '201729', '201840',
       '201939', '202704', '202769', '202859', '203148', '203306',
       '203319', '203490', '203777', '204056', '204298', '204320',
       '204325', '204524', '214948', '215500', '215501', '215551',
       '216307', '216373', '216393', '216669', '216680', '216700',
       '216718', '216737', '216748', '216760', '216776', '216816',
       '216818', '216849', '216897', '216904', '216906', '216907',
       '216914', '216916', '216917', '216920', '226969', '226973',
       '226974', '226987', '227007', '227009', '227011', '227019',
       '227020', '227041', '227084', '227085', '227090', '227092',
       '227099', '227109', '227782'], dtype=object)

In [15]:
# employees who has more than one expired certification
expired_df['Employee Number'].value_counts()[expired_df['Employee Number'].value_counts()>1]

215501    2
216904    2
226974    2
216669    2
216920    2
216917    2
216916    2
216914    2
216906    2
216849    2
200849    2
216818    2
216816    2
204320    2
204524    2
215500    2
216737    2
216718    2
226987    2
226973    2
227007    2
109138    2
227099    2
109014    2
227090    2
227085    2
109075    2
227009    2
109098    2
109149    2
227041    2
227019    2
Name: Employee Number, dtype: int64

#Feature Engineering

In [16]:
# Drop some useless columns
to_drop = ['Employee Number','Certification Date Issued','Effective End','Hire Date', 'Rehire Date', 'Employee Start Date', 'Employee Cert Status']
df2 = df1.drop(to_drop, axis=1)

In [17]:
# yes and no have to be converted to boolean values
df2["Current Employee"] = df2['Current Employee'] == 'Yes'
df2["Medical Assistant Requirement"] = df2['Medical Assistant Requirement'] == 'Y'
df2["Medical Scribe Requirement"] = df2['Medical Scribe Requirement'] == 'Y'
df2["Rad Tech Requirement"] = df2['Rad Tech Requirement'] == 'Y'
df2["Certification Status"] = df2['Certification Status'] == 'Active'
df2["Rehired"] = df2['Rehired'] == 'Rehired'
df2.head()

,Certification,Certification Status,Pay Class,Job Name,Job Family Name,Market,Source of hire,Current Employee,Rehired,Certification type,Medical Assistant Requirement,Rad Tech Requirement,Medical Scribe Requirement
1471,Basic Life Support,True,FT,Team Leader (Radiologic Technologist),Rad Tech,Market A,Job Fair,True,False,First Aid,True,True,True
1472,CA Rad Tech License,True,FT,Team Leader (Radiologic Technologist),Rad Tech,Market A,Job Fair,True,False,Rad Tech,False,True,False
1473,R.T.(R)(ARRT),True,FT,Team Leader (Radiologic Technologist),Rad Tech,Market A,Job Fair,True,False,Rad Tech,False,True,False
1474,Basic Life Support,False,FT,Radiologic Technologist (Flex),Rad Tech,Market B,Indeed,True,False,First Aid,True,True,True
1475,CT Rad Tech License,True,FT,Radiologic Technologist (Flex),Rad Tech,Market B,Indeed,True,False,Rad Tech,False,True,False

In [18]:
df2[['Pay Class']].value_counts()

Pay Class
FT           641
Per Diem     272
Temporary     75
PT            42
Seasonal       1
dtype: int64

In [19]:
replace_values = {'PT' : "Others", 'Seasonal' : 'Others' } 
df2 = df2.replace({"Pay Class": replace_values})

In [20]:
df2[['Job Name']].value_counts()

Job Name
Medical Assistant                                      366
Radiologic Technologist                                282
Medical Assistant (Float)                              127
Advanced Clinical Associate                            117
Radiologic Technologist (Flex)                          27
Radiologic Technologist (Float)                         26
Medical Assistant - Limited X-Ray                       23
Team Leader (Radiologic Technologist)                   23
Team Leader (Medical Assistant)                         21
Medical Scribe                                           5
Lead Medical Assistant                                   3
Learning Coach (Medical Assistant)                       3
Quality Assurance & Control Radiologic Technologist      3
Lead Medical Assistant (DTE)                             2
Lead Radiologic Technologist                             2
Medical Assistant (DTE)                                  1
dtype: int64

In [21]:
replace_values = {'Medical Scribe': 'Others', 'Lead Medical Assistant' : 'Others', 'Learning Coach (Medical Assistant)' : 'Others', 'Quality Assurance & Control Radiologic Technologist' : 'Others', 
                  'Lead Medical Assistant (DTE)' : 'Others', 'Lead Radiologic Technologist' : 'Others', 'Medical Assistant (DTE)' : 'Others'} 
df2 = df2.replace({"Job Name": replace_values})

#Model

In [22]:
X = df2.drop('Certification Status', 1)
y = df2['Certification Status']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

In [23]:
X = pd.get_dummies(X)

In [24]:
from sklearn.model_selection import train_test_split
X_train, X_cv, y_train, y_cv = train_test_split(X, y, test_size=0.3)

In [25]:
from sklearn.tree import DecisionTreeClassifier

In [26]:
model = DecisionTreeClassifier(random_state=1)

In [27]:
model.fit(X_train,y_train)

DecisionTreeClassifier(random_state=1)

In [28]:
predictions = model.predict(X_cv)

In [29]:
from sklearn.metrics import accuracy_score, classification_report

In [30]:
print(classification_report(y_cv, predictions))

              precision    recall  f1-score   support

       False       0.16      0.19      0.18        31
        True       0.91      0.89      0.90       279

    accuracy                           0.82       310
   macro avg       0.54      0.54      0.54       310
weighted avg       0.83      0.82      0.83       310

In [31]:
print(accuracy_score(y_cv, predictions))

0.8193548387096774

In [32]:
from sklearn.ensemble import RandomForestClassifier

In [33]:
rfmodel = RandomForestClassifier(n_estimators=500)

In [34]:
rfmodel.fit(X_train, y_train)

RandomForestClassifier(n_estimators=500)

In [35]:
rfpredictions = rfmodel.predict(X_cv)

In [36]:
print(accuracy_score(y_cv, rfpredictions))

0.8741935483870967

In [37]:
print(classification_report(y_cv, rfpredictions))

              precision    recall  f1-score   support

       False       0.17      0.06      0.09        31
        True       0.90      0.96      0.93       279

    accuracy                           0.87       310
   macro avg       0.53      0.51      0.51       310
weighted avg       0.83      0.87      0.85       310

# Feature Importance

In [38]:
# check feature importance of random forest for feature selection
forest = rfmodel.fit(X_train, y_train)

importances = forest.feature_importances_

# Print the feature ranking
print("Feature importance ranking by Random Forest Model:")
for k,v in sorted(zip(map(lambda x: round(x, 4), importances), X.columns), reverse=True):
    print (v + ": " + str(k))

Feature importance ranking by Random Forest Model:
Rehired: 0.074
Source of hire_Indeed: 0.0562
Pay Class_FT: 0.0506
Source of hire_ClinicalCareers.com: 0.0488
Market_Market B: 0.048
Market_Market E: 0.0479
Certification_No BLS: 0.0477
Pay Class_Per Diem: 0.0461
Market_Market A: 0.0447
Market_Market D: 0.042
Source of hire_Career site: 0.0379
Market_Market C: 0.0326
Certification_Basic Life Support: 0.0292
Job Name_Medical Assistant: 0.0262
Certification_Non-Certifed MA: 0.025
Source of hire_Recruiter: 0.024
Job Name_Radiologic Technologist: 0.0234
Job Name_Medical Assistant - Limited X-Ray: 0.022
Source of hire_Job Fair: 0.021
Source of hire_Referral: 0.0194
Pay Class_Temporary: 0.0176
Job Name_Medical Assistant (Float): 0.0159
Certification_R.T.(R)(ARRT): 0.0128
Job Family Name_Medical Assistant: 0.0116
Job Name_Radiologic Technologist (Flex): 0.0112
Job Family Name_Rad Tech: 0.0103
Job Name_Others: 0.01
Certification_Certified Medical Assistant: 0.0098
Certification type_First Aid: 0.0098
Pay Class_Others: 0.0096
Job Name_Team Leader (Radiologic Technologist): 0.0092
Medical Scribe Requirement: 0.0089
Job Name_Advanced Clinical Associate: 0.0086
Job Family Name_Medical Scribe: 0.0079
Job Name_Team Leader (Medical Assistant): 0.0076
Certification_Natl Certified Med Asst: 0.0076
Rad Tech Requirement: 0.0063
Medical Assistant Requirement: 0.0059
Certification_CT Rad Tech License: 0.0058
Certification type_Medical Assistant: 0.0058
Job Name_Radiologic Technologist (Float): 0.0054
Certification_Registered Medical Asst: 0.0051
Certification_MA Certification: 0.0049
Certification type_Rad Tech: 0.0042
Certification_Certified Medical Scribe: 0.0031
Certification_ACA Certification: 0.0031
Certification type_Medical Scribe: 0.003
Certification_Cert Prov Order Entry Pro: 0.0029
Certification_CA Rad Tech License: 0.0026
Certification_Rad Tech License: 0.002
Certification_Natl Emergency Med Tech: 0.0016
Certification_ARRT Certification: 0.0014
Certification_Certified Nursing Assistant: 0.0009
Certification_AR Rad Tech License: 0.0005
Certification_Natl Assoc CMA: 0.0001
Certification_MD Rad Tech License: 0.0001
Certification_American Assoc Med Asst: 0.0001
Current Employee: 0.0
Certification_NY Rad Tech License: 0.0
Certification_MOEMT: 0.0
Certification_CA Medical Asst License: 0.0

#Summary


- 11% of total employee have expired certifications
- In general, the Job function, Market, Pay class and Sources of hire with the most employees will have the most expired certificates
- Medical Assistant has highest number of expired certifications because it requires 14 certificates whereas Rad Tech and Medical Scribe only require 10 certificates each
- BLS, Non-Certified MA and R.T.(R)(ARRT) are most likely to expire and they are needed by both Medical Assistant and Rad Tech
- Market D has high expired certification because it only hires Medical Assistants
- Rehired employees follow overall employee trend for certification compliance as it has 14% expiration rate whereas the overall company has 11%
- Feature importance ranking using Random Forest matches our result, model accuracy 87%